<div class="divBody">
    <!-- index.hbs -->
    <h1 style="text-align: center; margin: 0px;">Orange and Apple Website!</h1>

    {{!-- External CSS --}}
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    {{!-- Select Table --}}
    <h2>Search Using an HTML Form</h2>
    <p>Search for data from different table!</p>
    <p>
    <form id="search-person-html" method='GET' action='/'>
        <select name="select" id="selectTable" onchange="updateTable(value)">
            <option>Customers</option>
            <option>Orders</option>
            <option>Order_Details</option>
            <option>Products</option>
        </select>
        <a href='/'><button class="resetButton">Reset Webpage</button></a>
    </form>
    </p>

    {{!-- Create a table --}}
    <div style="overflow-x:auto; width: 100%;" id="customerTable">
        <table id="customer-table">

            {{!-- Header section --}}
            <thead>
                <tr>
                    <th>Delete</th>
                    {{#each customers.[0]}}
                    <th class="columnName">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                {{#each customers}}
                <tr data-value={{this.customer_id}}>
                    {{!-- Delete Button --}}
                    <td><button class="deleteButton" onclick="deletePerson({{this.customer_id}})">x</button></td>

                    <td>{{this.customer_id}}</td>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    {{!-- <td>{{this.mid_name}}</td> --}}
                    <td>{{this.phone}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.cusadd_line1}}</td>
                    {{!-- <td>{{this.cusadd_line2}}</td> --}}
                    <td>{{this.cusadd_city}}</td>
                    <td>{{this.cusadd_state}}</td>
                    <td>{{this.cusadd_zipcode}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{!-- Create an Order Table --}}
    <div style="overflow-x:auto; width: 100%;" id="orderTable">
        <table id="order-table">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we know what each
                column means when the page renders --}}
                <tr>
                    <th>Delete</th>
                    {{#each orders.[0]}}
                    <th class="columnName">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                {{#each orders}}
                <tr data-value={{this.order_id}}>

                    {{!-- Delete Button --}}
                    <td><button class="deleteButton">x</button></td>
                    {{!-- <td><button class="deleteButton" onclick="deletePerson({{this.order_id}})">x</button></td> --}}

                    <td>{{this.order_id}}</td>
                    <td>{{this.order_date}}</td>
                    <td>{{this.order_total}}</td>
                    <td>{{this.customer_id}}</td>
                    <td>{{this.shipping_status}}</td>
                    {{!-- <td>{{this.shipadd_line1}}</td>
                    <td>{{this.shipadd_line2}}</td>
                    <td>{{this.shipadd_city}}</td>
                    <td>{{this.shipadd_state}}</td>
                    <td>{{this.shipadd_zipcode}}</td> --}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{!-- Create a Details Table --}}
    <div style="overflow-x:auto; width: 100%;" id="detailTable">
        <table id="detail-table">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    <th>Delete</th>
                    {{#each details.[0]}}
                    <th class="columnName">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                {{#each details}}
                <tr data-value={{this.order_id}} data-value2={{this.product_id}}>
                    {{!-- Delete Button --}}
                    <td><button class="deleteButton">x</button></td>
                    {{!-- <td><button class="deleteButton" onclick="deletePerson({{this.order_id}})">x</button></td> --}}

                    <td>{{this.order_id}}</td>
                    <td>{{this.product_id}}</td>
                    {{!-- <td>{{this.product_price}}</td> --}}
                    <td>{{this.product_qty}}</td>
                    {{!-- <td>{{this.discount}}</td> --}}
                    <td>{{this.sub_total}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{!-- Create a Product Table --}}
    <div style="overflow-x:auto; width: 100%;" id="productTable">
        <table id="product-table">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    <th>Delete</th>
                    {{#each products.[0]}}
                    <th class="columnName">
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
                {{#each products}}
                <tr data-value={{this.product_id}}>
                    {{!-- Delete Button --}}
                    <td><button class="deleteButton">x</button></td>
                    {{!-- <td><button class="deleteButton" onclick="deletePerson({{this.product_id}})">x</button></td> --}}

                    <td>{{this.product_id}}</td>
                    <td>{{this.product_name}}</td>
                    <td>{{this.product_des}}</td>
                    <td>{{this.price}}</td>
                    {{!-- <td>{{this.stock}}</td> --}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{!-- Delete person js file --}}
    <script src="js/delete_person.js"></script>

    {{!-- Form to add a record to the table --}}
    <h2>Adding Data using a HTML form</h2>

    {{!-- Select which table to add --}}
    <p>
    <form>
        <select name="select" id="selectTable" onchange="updateForm(value)">
            <option>Customers</option>
            <option>Orders</option>
            <option>Order_Details</option>
            <option>Products</option>
        </select>
    </form>
    </p>

    <div class="addCustomer" id="addCustomer">
        <p>To add a new person, please enter their information below and click 'Submit'!</p>
        <form id="add-person-form" method="POST" action="/add-person-form">

            <div class="row" style="font-weight: bold;">
                <div class="column">
                    {{!-- First Name Input --}}
                    <label for="input-fname"><span style="color:red">*</span>First Name: </label>
                    <input type="text" name="input-fname" id="input-fname" placeholder="Enter First Name" value="John"
                        required>
                </div>
                <div class="column">
                    {{!-- Last Name Input --}}
                    <label for="input-lname"><span style="color:red">*</span>Last Name: </label>
                    <div style="color:red; float: right;">*Required </div>
                    <input type="text" name="input-lname" id="input-lname" placeholder="Enter Last Name" value="Doe"
                        required>
                </div>


                <div class="column">
                    {{!-- Phone Number Input --}}
                    <label for="input-phone">Phone: </label>
                    <input type="tel" name="input-phone" id="input-phone" placeholder="Enter Phone Number"
                        value="123456789">
                </div>

                <div class="column">
                    {{!-- Email Input --}}
                    <label for="input-email"><span style="color:red">*</span>Email: </label>
                    <input type="email" name="input-email" id="input-email" placeholder="Enter Email"
                        value="doejohn@gmail.com" required>
                </div>
                <div class="column">
                    {{!-- Address Line 1 Input --}}
                    <label for="input-line1"><span style="color:red">*</span>Address Line 1: </label>
                    <input type="text" name="input-line1" id="input-line1" placeholder="Enter Address Line 1"
                        value="60025 Bollinger Canyon Road" required>
                </div>


                <div class="column">
                    {{!-- City Input --}}
                    <label for="input-city"><span style="color:red">*</span>City: </label>
                    <input type="text" name="input-city" id="input-city" placeholder="Enter City" value="San Francisco"
                        required>
                </div>

                <div class="column">
                    {{!-- State Input --}}
                    <label for="input-state"><span style="color:red">*</span>State: </label>
                    <input type="text" name="input-state" id="input-state" placeholder="Enter State" value="California"
                        required>
                </div>
                <div class="column">
                    {{!-- Zipcode Input --}}
                    <label for="input-zipcode"><span style="color:red">*</span>Zipcode: </label>
                    <input type="text" name="input-zipcode" id="input-zipcode" placeholder="Enter ZipCode" value="94583"
                        required>
                </div>
            </div>
            <br>
            <input type="submit">
        </form>
    </div>

    <div class="addOrder" id="addOrder">
        <p>To add a new order, please enter the information below and click 'Submit'!</p>
        <form id="add-order-form" method="POST" action="/add-order-form">
            <div class="row">
                <div class="column">
                    {{!-- Order Date Input --}}
                    <label for="input-date"><span style="color:red">*</span>Order Date: </label>
                    <input type="date" name="input-date" id="input-date" placeholder="Enter Order Date"
                        value="2022-08-17" required>
                </div>
                <div class="column">
                    {{!-- Order Total Input --}}
                    <label for="input-total"><span style="color:red">*</span>Order Total: </label>
                    <div style="color:red; float: right;">*Required </div>
                    <input type="number" name="input-total" id="input-total" placeholder="Enter Order Total"
                        value="19.56" required>
                </div>

                <div class="column">
                    {{!-- Customer ID Input --}}
                    <label for="input-id"><span style="color:red">*</span>Customer ID: </label>
                    <select name="input-id" id="myId" required>
                        <option value="" selected disabled hidden>Select Customer ID</option>
                        {{#each customers}}
                        <option value="{{this.customer_id}}">{{this.customer_id}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="column">
                    {{!-- Shipping Status Input --}}
                    <label for="input-status"><span style="color:red">*</span>Shipping Status: </label>
                    <select name="input-status" id="myStatus" required>
                        <option value="" selected disabled hidden>Select Shipping Status</option>
                        <option value="not shipped">Not Shipped</option>
                        <option value="shipped">Shipped</option>
                        <option value="delivered">Delivered</option>
                        <option value="returned">Returned</option>
                    </select>
                </div>
            </div>
            <br>
            <input type="submit">
        </form>
    </div>

    <div class="addDetail" id="addDetail">
        <p>To add a new order detail, please enter the information below and click 'Submit'!</p>
        <form id="add-detail-form" method="POST" action="/add-detail-form">
            <div class="row">
                <div class="column">
                    {{!-- Order ID Input --}}
                    <label for="input-oid"><span style="color:red">*</span>Order ID: </label>
                    <select name="input-oid" id="myOid" required>
                        <option value="" selected disabled hidden>Select Order ID</option>
                        {{#each orders}}
                        <option value="{{this.order_id}}">{{this.order_id}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="column">
                    {{!-- Product ID Input --}}
                    <label for="input-pid"><span style="color:red">*</span>Product ID: </label>
                    <div style="color:red; float: right;">*Required </div>
                    <select name="input-pid" id="myPid" required>
                        <option value="" selected disabled hidden>Select Product ID</option>
                        {{#each products}}
                        <option value="{{this.product_id}}">{{this.product_id}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="column">
                    {{!-- Quantity Input --}}
                    <label for="input-qty"><span style="color:red">*</span>Order Quantity: </label>
                    <input type="number" name="input-qty" id="input-qty" placeholder="Enter Quantity" value="1"
                        required>
                </div>
                <div class="column">
                    {{!-- Subtotal Input --}}
                    <label for="input-stotal"><span style="color:red">*</span>Order Subtotal: </label>
                    <input type="number" name="input-stotal" id="input-stotal" placeholder="Enter Subtotal"
                        value="19.56" required>
                </div>
            </div>
            <br>
            <input type="submit">
        </form>
    </div>

    <div class="addProduct" id="addProduct">
        <p>To add a new Product, please enter the information below and click 'Submit'!</p>
        <form id="add-product-form" method="POST" action="/add-product-form">
            <div class="row">
                {{!-- Product Name Input --}}
                <label for="input-pname"><span style="color:red">*</span>Product Name: </label>
                <div style="color:red; float: right;">*Required </div>
                <input type="text" name="input-pname" id="input-pname" placeholder="Enter Product Name" value="Apple"
                    required>
            </div>
            <div class="column">
                {{!-- Product Description Input --}}
                <label for="input-desc"><span style="color:red">*</span>Product Description: </label>
                <input type="text" name="input-desc" id="input-desc" placeholder="Enter Product Description"
                    value="Top Quality Apple" required>
            </div>
            <div class="column">
                {{!-- Product Price Input --}}
                <label for="input-price"><span style="color:red">*</span>Product Price: </label>
                <input type="number" name="input-price" id="input-price" placeholder="Enter Product Price" value="19.56"
                    required>
            </div>
            <br>
            <input type="submit">
        </form>
    </div>

    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script src="js/add_person.js"></script>
    <script src="js/update_form.js"></script>


    <h2>Updating A Specific Order Details Form</h2>
    <p>To update a specific order detail, select their product id and order id from the drop-down menu and input the new
        quantity and subtotal on the input box.</p>
    <form id="update-person-form-ajax" required="required">
        <div class="row">
            <div class="column">
                {{!-- Product ID Input --}}
                <label for="input-pid"><span style="color:red">*</span>Product ID: </label>
                <select name="input-pid" id="myUpdatePid" required>
                    <option value="" selected disabled hidden>Select Product ID</option>
                    {{#each products}}
                    <option value="{{this.product_id}}">{{this.product_id}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="column">
                {{!-- Order ID Input --}}
                <label for="input-oid"><span style="color:red">*</span>Order ID: </label>
                <div style="color:red; float: right;">*Required </div>
                <select name="input-oid" id="myUpdateOid" required>
                    <option value="" selected disabled hidden>Select Order ID</option>
                    {{#each orders}}
                    <option value="{{this.order_id}}">{{this.order_id}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="column">
                {{!-- Quantity Input --}}
                <label for="input-qty-update"><span style="color:red">*</span>Update Order Quantity: </label>
                <input type="number" name="input-qty-update" id="input-qty-update" placeholder="Enter Quantity"
                    value="1" required>
            </div>
            <div class="column">
                {{!-- Subtotal Input --}}
                <label for="input-stotal-update"><span style="color:red">*</span>Update Order Subtotal: </label>
                <input type="number" name="input-stotal-update" id="input-stotal-update" placeholder="Enter Subtotal"
                    value="19.56" required>
            </div>
        </div>

        <br>
        <input class="button" type="submit" value="Submit Query">

    </form>
</div>
<script src="js/update_person.js"></script>